.col-lg-6 {
    padding: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
}

.card {
    flex-direction: row;

    &:hover {
        border-color: gray;
    }

    img {
        width: 100px;
        height: 150px;
        border-radius: 3% 0 0 3%;
    }

    .card-block {
        padding: 8px;
        width: 100%;

        ul {
            margin: auto;
        }

        .card-text {
            margin-top: 5px;
        }
    }
}